@media only screen and (max-width: 1024px) {
	.site{
		width: 100%;
	}

	.banner{
		height: 22rem;
	}

	.banner-text{
		padding-right: 4rem;
		padding-left: 4rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		font-size: 1.33rem;
		margin-top: 5rem;
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 470px){

	.site{
		width: 100%;
	}

	.banner{
		height: 17rem;
	}

	.small-img-text p{
		font-size: 0.77rem;
	}

	.bottom p{
		font-size: 0.77rem;
	}

	.footer-text span{
		display: none;
	}
}

html{
	font-size: 18px;
	font-family: Helvetica;
}

header{
	margin-top: 1rem;
	background-color: cadetblue;
	color: white;
	display: inline-flex;
	padding-top: 1rem;
	align-content: center;
}

header img{
	height: 1.5rem;
	margin-left: 2rem;
	margin-right: 1rem;
}

footer{
	background-color: azure;
}

footer img{
	padding-right: 1rem;
 	height: 1.5rem;
}

.footer-text{
	padding-top: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-right: 1rem;
	height: 1.5rem;
}

.site{
	width: 960px;
	margin: 0 auto;
}

.container{
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-right{
	display: inline-flex;
	justify-content: flex-end;
	padding-right: 2rem;
	margin: 1rem;
}

.header-item{
	padding-right: 1rem;
}

.banner{
	height: 23rem;
	z-index: 1;
	background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
}

.banner-text{
	font-size: 2rem;
	font-weight: bold;
	background-color: white;
	padding-right: 5rem;
	padding-left: 5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 2;
	width: 24rem;
	float: right;
	margin-top: 10rem;
}

.small-img-text{
	height: 8rem;
}

.small-img-items{
	display: flex;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	margin-top: 3rem;
}

.bottom h2{
	background-color: cadetblue;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 35%;
	margin-bottom: 1rem;
}

.bottom p{
	width: 85%;
}

.bottom{
	display: flex;
}

#small-img-paper{
	width: 3.5rem;
}

#small-img-ruler{
	width: 5rem;
}

#small-img-truck{
	width: 5rem;
}